absl-py==1.4.0; python_version >= "3.8"
astunparse==1.6.3; python_version >= "3.8"
black==23.3.0; python_version >= "3.7"
cachetools==5.3.1; python_version >= "3.8"
certifi==2023.5.7; python_version >= "3.8"
charset-normalizer==3.2.0; python_full_version >= "3.7.0" and python_version >= "3.8"
click==8.1.4; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.7.0" and platform_system == "Windows"
contourpy==1.1.0; python_version >= "3.8"
coverage==7.2.7; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.8"
exceptiongroup==1.1.2; python_version < "3.11" and python_version >= "3.7"
flake8==6.0.0; python_full_version >= "3.8.1"
flatbuffers==23.5.26; python_version >= "3.8"
fonttools==4.40.0; python_version >= "3.8"
gast==0.4.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
google-auth-oauthlib==1.0.0; python_version >= "3.8"
google-auth==2.22.0; python_version >= "3.8"
google-pasta==0.2.0; python_version >= "3.8"
grpcio==1.56.2; python_version >= "3.8"
h5py==3.9.0; python_version >= "3.8"
idna==3.4; python_version >= "3.8"
iniconfig==2.0.0; python_version >= "3.7"
isort==5.12.0; python_full_version >= "3.8.0"
joblib==1.3.1; python_version >= "3.8"
keras==2.13.1; python_version >= "3.8"
kiwisolver==1.4.4; python_version >= "3.8"
libclang==16.0.6; python_version >= "3.8"
markdown==3.4.3; python_version >= "3.8"
markupsafe==2.1.3; python_version >= "3.8"
matplotlib==3.7.2; python_version >= "3.8"
mccabe==0.7.0; python_version >= "3.6" and python_full_version >= "3.8.1"
mypy-extensions==1.0.0; python_version >= "3.7"
mypy==1.4.1; python_version >= "3.7"
numpy==1.24.3; python_version >= "3.8"
oauthlib==3.2.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
opencv-python==4.8.0.74; python_version >= "3.6"
opt-einsum==3.3.0; python_version >= "3.8"
packaging==23.1; python_version >= "3.8"
pathspec==0.11.1; python_version >= "3.7"
pillow==10.0.0; python_version >= "3.8"
platformdirs==3.8.1; python_version >= "3.7"
pluggy==1.2.0; python_version >= "3.7"
protobuf==4.23.4; python_version >= "3.8"
pyasn1-modules==0.3.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
pyasn1==0.5.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.8" and python_version < "4"
pycodestyle==2.10.0; python_version >= "3.6" and python_full_version >= "3.8.1"
pyflakes==3.0.1; python_version >= "3.6" and python_full_version >= "3.8.1"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pytest-cov==4.1.0; python_version >= "3.7"
pytest==7.4.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
requests-oauthlib==1.3.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
requests==2.31.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
rsa==4.9; python_version >= "3.8" and python_version < "4"
scikit-learn==1.3.0; python_version >= "3.8"
scipy==1.11.1; python_version >= "3.9" and python_version < "3.13"
setuptools-scm==7.1.0; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
tensorboard-data-server==0.7.1; python_version >= "3.8"
tensorboard==2.13.0; python_version >= "3.8"
tensorflow-estimator==2.13.0; python_version >= "3.8"
tensorflow-io-gcs-filesystem==0.32.0; python_version >= "3.7" and python_version < "3.12" and (platform_machine != "arm64" and python_version >= "3.8" or platform_system != "Darwin" and python_version >= "3.8")
tensorflow==2.13.0; python_version >= "3.8"
termcolor==2.3.0; python_version >= "3.8"
threadpoolctl==3.2.0; python_version >= "3.8"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.8" and python_full_version <= "3.11.0a6"
typing-extensions==4.5.0; python_version >= "3.8"
urllib3==1.26.16; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
werkzeug==2.3.6; python_version >= "3.8"
wrapt==1.15.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.8"
